# Gaussian Bayesian Classifier

### Mastery Checkpoint 1  
CSC 466, Winter 2022  
Samay Nathani

In [44]:
from pathlib import Path
home = str(Path.home())

In [45]:
%load_ext autoreload
%autoreload 2

import Lab2_helper

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Import our dataset
I chose the [Uber Fares Dataset from Kaggle](https://www.kaggle.com/yasserh/uber-fares-dataset/version/1)

In [57]:
import pandas as pd
import numpy as np
import math
raw_uber_df = pd.read_csv(
    f"uber.csv"
)

Do some preprocessing like Lab 2

In [126]:
features = ['pickup_longitude','pickup_latitude','dropoff_longitude', 'dropoff_latitude', 'passenger_count', 'fare_amount']
raw_uber_df = raw_uber_df.loc[:,features]
display(raw_uber_df.head())

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,fare_amount
0,-73.999817,40.738354,-73.999512,40.723217,1,7.5
1,-73.994355,40.728225,-73.994710,40.750325,1,7.7
2,-74.005043,40.740770,-73.962565,40.772647,1,12.9
3,-73.976124,40.790844,-73.965316,40.803349,3,5.3
4,-73.925023,40.744085,-73.973082,40.761247,5,16.0

Creating a function to find the distance between the drop-off and pick-up locations, credit goes to [Geeks4Geeks]()

In [127]:
def distance(lat1, lat2, lon1, lon2):
     
    # The math module contains a function named
    # radians which converts from degrees to radians.
    lon1 = math.radians(lon1)
    lon2 = math.radians(lon2)
    lat1 = math.radians(lat1)
    lat2 = math.radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
 
    c = 2 * math.asin(math.sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    # calculate the result
    return(c * r)

Do some preprocessing to get the distance, passenger count, and fare of an uber

In [128]:
raw_uber_df.dropna(inplace=True)
raw_uber_df['distance'] = raw_uber_df.apply(lambda x: distance(x.loc['pickup_latitude'], x.loc['dropoff_latitude'], x.loc['pickup_longitude'], x.loc['dropoff_longitude']), axis=1)
final_features = ['distance', 'passenger_count', 'fare_amount']
uber_df = raw_uber_df.loc[:, final_features]
uber_df.head()

   distance  passenger_count  fare_amount
0  1.683323                1          7.5
1  2.457590                1          7.7
2  5.036377                1         12.9
3  1.661683                3          5.3
4  4.475450                5         16.0

In [129]:
uber_df.loc[:, 'distance'] = round(uber_df['distance'])
uber_df.loc[:, 'fare_amount'] = round(uber_df['fare_amount'])
uber_df.head()

   distance  passenger_count  fare_amount
0       2.0                1          8.0
1       2.0                1          8.0
2       5.0                1         13.0
3       2.0                3          5.0
4       4.0                5         16.0

In [130]:
"""
titanic_df.loc[:,'pickup_longitude']=titanic_df['Pclass'].fillna(titanic_df['Pclass'].mode()).astype(int)
titanic_df.loc[:,'pickup_latitude']=titanic_df['Age'].fillna(titanic_df['Age'].median())
titanic_df.loc[:,'Age']=(titanic_df['Age']/10).astype(str).str[0].astype(int)*10
titranic_df = titanic_df.dropna()
X = titanic_df.drop("Survived",axis=1)
y = titanic_df["Survived"]
#probs = Lab2_helper.class_conditional(X,y)
#priors = Lab2_helper.compute_priors(y)
x = titanic_df.drop("Survived",axis=1).loc[2]
#post_probs = Lab2_helper.posteriors(probs,priors,x)
"""

'\ntitanic_df.loc[:,\'pickup_longitude\']=titanic_df[\'Pclass\'].fillna(titanic_df[\'Pclass\'].mode()).astype(int)\ntitanic_df.loc[:,\'pickup_latitude\']=titanic_df[\'Age\'].fillna(titanic_df[\'Age\'].median())\ntitanic_df.loc[:,\'Age\']=(titanic_df[\'Age\']/10).astype(str).str[0].astype(int)*10\ntitranic_df = titanic_df.dropna()\nX = titanic_df.drop("Survived",axis=1)\ny = titanic_df["Survived"]\n#probs = Lab2_helper.class_conditional(X,y)\n#priors = Lab2_helper.compute_priors(y)\nx = titanic_df.drop("Survived",axis=1).loc[2]\n#post_probs = Lab2_helper.posteriors(probs,priors,x)\n'

Defining the Gaussian Bayesian Classifier

In [140]:
class GaussianBayes:
    
    def compute_priors(self, y):
        value_counts = y.value_counts().sort_index()
        total_values = len(y)
        indexes = [y.name+"="+str(v) for v in value_counts.index.tolist()]
        priors = dict(zip(indexes, value_counts / total_values))
        return priors
    
    def compute_normal_distribution(self, mean, stddev, x):
        exp = (((x-mean) / stddev)**2) * -0.5
        denom = ((stddev) * math.sqrt(2 * math.pi))
        return (math.e ** exp) / denom
    
    
    # Since we are assuming a normal distribution, this is where we use the mean, std, and variance to calculate the class conditional probability. 
    def specific_class_conditional(self,x,xv,y,yv):
        # todo: replace binning with normal distribution calculations
        likelihoods = {}
        priors = {}
        for ux in x.unique():
            y_vals = y.loc[x==ux]
            for uy in y_vals.unique():
                prob = self.compute_normal_distribution(y_vals.mean(), y_vals.std(), uy)
                likelihoods[ux] = prob
                priors[ux] = len(y_vals) / y
        denom = 0
        
        for k in priors.keys():
            denom += (priors[k]*likelihoods[k])

        print(likelihoods, priors)
        classcond = likelihoods[xv]*priors[xv] / denom
        return classcond


    def class_conditional(self,X,y):
        probs = {}
        
        for eachy in y.unique():
            for col in X.columns:
                for eachx in X[col].unique():
                    probs[col + "=" + str(eachx) + "|" + y.name + "=" + str(eachy)] = specific_class_conditional(X[col], eachx, y, eachy)
        return probs

    def posteriors(self,probs,priors,x):
        post_probs = {}
        denom = 0
        for k in priors.keys():
            numerator = 1
            postkey = ""
            
            for idx in x.index:
                postkey += idx + "=" + str(x[idx]) + ","
                probkey = idx + "=" + str(x[idx]) + "|" + k
                
                if probkey not in probs:
                    numerator *= 0
                else:
                    numerator *= probs[probkey]
            
            numerator*=priors[k]
            post_probs[k + "|" + postkey[:-1]] = numerator
            denom+=numerator
            
        for k, v in post_probs.items():
            if denom != 0:
                post_probs[k] = v / denom
            else:
                post_probs[k] = 1 / len(list(priors.keys()))
        
        return post_probs

In [141]:
gb = GaussianBayes()

In [142]:
prob = gb.specific_class_conditional(uber_df['distance'], 2, uber_df['fare_amount'], 5)
prob

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in double_scalars
  # This is added back by InteractiveShellApp.init_path()

{2.0: 8.181811585777186e-36, 5.0: 1.8984312096384113e-18, 4.0: 5.404057464812982e-13, 0.0: 8.155841010743764e-11, 12.0: 8.198942528874093e-06, 1.0: 3.1879095350432375e-22, 3.0: 1.4320009404007173e-55, 6.0: 1.5052117381184512e-08, 13.0: 0.0019454663398786216, 11.0: 6.402513266824265e-05, 10.0: 0.003744655660433535, 8.0: 4.584254257140247e-06, 16.0: 1.4245407350483897e-05, 7.0: 9.308843616662131e-05, 9.0: 7.996877777356592e-05, 14.0: 5.9562237355852044e-05, 20.0: 0.02745481972268529, 18.0: 2.053264228085836e-07, 19.0: 0.0007003648431795029, 17.0: 0.002095195070784726, 8666.0: 0.016175985809465405, 22.0: 3.861276497488424e-07, 15.0: 0.0001941056289284621, 21.0: 0.048143129661542515, 33.0: 0.01895681920415256, 8647.0: 0.004630715083753595, 8667.0: 0.018930345377931024, 23.0: 0.00018108010205114978, 6021.0: 0.10984782236693061, 5941.0: 0.018307970394488435, 8665.0: 0.00033598974755914043, 8654.0: nan, 6032.0: 0.09317639016847351, 4530.0: nan, 8648.0: 0.008301535751621614, 3829.0: nan, 8664.0: 0.008228598062351418, 25.0: 0.00193729513805977, 5886.0: nan, 8661.0: 0.0316733981375936, 26.0: 0.000801074014982835, 8656.0: 0.020126318223567474, 49.0: 0.018307970394488435, 31.0: 0.009363490089479213, 29.0: 0.02527628411263501, 24.0: 0.004331964610894512, 8675.0: nan, 6029.0: 0.06498988524091372, 8668.0: 0.028629976440760343, 8594.0: nan, 32.0: 0.008274896533592495, 28.0: 0.0018479460999771874, 5651.0: nan, 8663.0: 0.025833745534908928, 8670.0: 0.014394435837430311, 61.0: nan, 8671.0: nan, 127.0: 0.3547652217283781, 4445.0: nan, 102.0: nan, 125.0: 0.24099675095009807, 43.0: nan, 60.0: nan, 178.0: nan, 8662.0: 0.006011978793746045, 6031.0: 0.08787825789354449, 129.0: 0.12098536225957168, 4644.0: nan, 115.0: 0.029292752631181498, 96.0: 0.03603755978304438, 94.0: 0.14646376315590748, 37.0: 0.007782736496213868, 8776.0: nan, 53.0: nan, 5446.0: nan, 6030.0: nan, 5448.0: nan, 177.0: nan, 128.0: 0.3997355278034668, 27.0: 0.0029494317132821427, 8672.0: nan, 3488.0: nan, 6033.0: 0.054923911183465304, 8640.0: nan, 52.0: nan, 4529.0: 0.03661594078897687, 4852.0: nan, 8641.0: 0.07323188157795374, 8659.0: 0.01910396910729228, 122.0: nan, 95.0: 0.14646376315590748, 407.0: nan, 30.0: 0.01183525187696297, 6023.0: 0.10984782236693061, 6028.0: nan, 5419.0: 0.21969564473386122, 35.0: 0.006719888864419519, 4531.0: nan, 8783.0: nan, 6027.0: 0.14646376315590748, 97.0: 0.13909197304026238, 4079.0: nan, 39.0: nan, 1340.0: nan, 16409.0: nan, 8653.0: nan, 6020.0: nan, 8657.0: 0.02951280629614431, 5495.0: nan, 8681.0: 0.048689340163666564, 98.0: 0.01997233133944193, 4081.0: nan, 8658.0: nan, 42.0: nan, 5933.0: nan, 2247.0: nan, 90.0: nan, 8660.0: 0.024410627192651246, 101.0: nan, 6038.0: nan, 99.0: 0.03941835796981973, 4532.0: 0.43939128946772243, 131.0: nan, 5954.0: nan, 4774.0: nan, 41.0: nan, 4443.0: nan, 121.0: 0.14646376315590748, 4461.0: nan, 46.0: nan, 735.0: nan, 285.0: nan, 8462.0: nan, 64.0: nan, 8585.0: nan, 123.0: nan, 5414.0: nan, 367.0: nan, 93.0: nan, 4069.0: nan, 4523.0: nan, 5457.0: nan, 6034.0: nan, 10322.0: nan, 4004.0: nan, 8708.0: nan, 2136.0: nan, 34.0: nan, 6009.0: nan, 4455.0: nan, 8652.0: nan, 62.0: nan, 100.0: nan, 130.0: nan, 1151.0: nan, 808.0: nan, 36.0: 0.014646376315590749, 4838.0: nan, 5416.0: nan, 973.0: nan, 261.0: nan, 5935.0: nan, 8649.0: nan, 4458.0: nan, 540.0: nan, 5728.0: nan, 88.0: nan, 163.0: nan, 38.0: nan, 565.0: nan, 5420.0: nan, 4757.0: nan} {2.0: 0          5977.250000
1          5977.250000
2          3678.307692
3          9563.600000
4          2988.625000
              ...
199995    15939.333333
199996     5977.250000
199997     1542.516129
199998     3415.571429
199999     3415.571429
Name: fare_amount, Length: 199999, dtype: float64, 5.0: 0         1340.625000
1         1340.625000
2          825.000000
3         2145.000000
4          670.312500
             ...
199995    3575.000000
199996    1340.625000
199997     345.967742
199998     766.071429
199999     766.071429
Name: fare_amount, Length: 199999, dtype: float64, 4.0: 0         2036.625000
1         2036.625000
2         1253.307692
3         3258.600000
4         1018.312500
             ...
199995    5431.000000
199996    2036.625000
199997     525.580645
199998    1163.785714
199999    1163.785714
Name: fare_amount, Length: 199999, dtype: float64, 0.0: 0         1455.500000
1         1455.500000
2          895.692308
3         2328.800000
4          727.750000
             ...
199995    3881.333333
199996    1455.500000
199997     375.612903
199998     831.714286
199999     831.714286
Name: fare_amount, Length: 199999, dtype: float64, 12.0: 0         109.750000
1         109.750000
2          67.538462
3         175.600000
4          54.875000
             ...
199995    292.666667
199996    109.750000
199997     28.322581
199998     62.714286
199999     62.714286
Name: fare_amount, Length: 199999, dtype: float64, 1.0: 0          6995.500000
1          6995.500000
2          4304.923077
3         11192.800000
4          3497.750000
              ...
199995    18654.666667
199996     6995.500000
199997     1805.290323
199998     3997.428571
199999     3997.428571
Name: fare_amount, Length: 199999, dtype: float64, 3.0: 0         3447.375000
1         3447.375000
2         2121.461538
3         5515.800000
4         1723.687500
             ...
199995    9193.000000
199996    3447.375000
199997     889.645161
199998    1969.928571
199999    1969.928571
Name: fare_amount, Length: 199999, dtype: float64, 6.0: 0          901.250000
1          901.250000
2          554.615385
3         1442.000000
4          450.625000
             ...
199995    2403.333333
199996     901.250000
199997     232.580645
199998     515.000000
199999     515.000000
Name: fare_amount, Length: 199999, dtype: float64, 13.0: 0          91.250000
1          91.250000
2          56.153846
3         146.000000
4          45.625000
             ...
199995    243.333333
199996     91.250000
199997     23.548387
199998     52.142857
199999     52.142857
Name: fare_amount, Length: 199999, dtype: float64, 11.0: 0         178.000000
1         178.000000
2         109.538462
3         284.800000
4          89.000000
             ...
199995    474.666667
199996    178.000000
199997     45.935484
199998    101.714286
199999    101.714286
Name: fare_amount, Length: 199999, dtype: float64, 10.0: 0         321.375000
1         321.375000
2         197.769231
3         514.200000
4         160.687500
             ...
199995    857.000000
199996    321.375000
199997     82.935484
199998    183.642857
199999    183.642857
Name: fare_amount, Length: 199999, dtype: float64, 8.0: 0          407.875000
1          407.875000
2          251.000000
3          652.600000
4          203.937500
             ...
199995    1087.666667
199996     407.875000
199997     105.258065
199998     233.071429
199999     233.071429
Name: fare_amount, Length: 199999, dtype: float64, 16.0: 0          53.500000
1          53.500000
2          32.923077
3          85.600000
4          26.750000
             ...
199995    142.666667
199996     53.500000
199997     13.806452
199998     30.571429
199999     30.571429
Name: fare_amount, Length: 199999, dtype: float64, 7.0: 0          589.250000
1          589.250000
2          362.615385
3          942.800000
4          294.625000
             ...
199995    1571.333333
199996     589.250000
199997     152.064516
199998     336.714286
199999     336.714286
Name: fare_amount, Length: 199999, dtype: float64, 9.0: 0          384.625000
1          384.625000
2          236.692308
3          615.400000
4          192.312500
             ...
199995    1025.666667
199996     384.625000
199997      99.258065
199998     219.785714
199999     219.785714
Name: fare_amount, Length: 199999, dtype: float64, 14.0: 0          87.875000
1          87.875000
2          54.076923
3         140.600000
4          43.937500
             ...
199995    234.333333
199996     87.875000
199997     22.677419
199998     50.214286
199999     50.214286
Name: fare_amount, Length: 199999, dtype: float64, 20.0: 0         132.000000
1         132.000000
2          81.230769
3         211.200000
4          66.000000
             ...
199995    352.000000
199996    132.000000
199997     34.064516
199998     75.428571
199999     75.428571
Name: fare_amount, Length: 199999, dtype: float64, 18.0: 0          48.250000
1          48.250000
2          29.692308
3          77.200000
4          24.125000
             ...
199995    128.666667
199996     48.250000
199997     12.451613
199998     27.571429
199999     27.571429
Name: fare_amount, Length: 199999, dtype: float64, 19.0: 0          60.875000
1          60.875000
2          37.461538
3          97.400000
4          30.437500
             ...
199995    162.333333
199996     60.875000
199997     15.709677
199998     34.785714
199999     34.785714
Name: fare_amount, Length: 199999, dtype: float64, 17.0: 0          41.500000
1          41.500000
2          25.538462
3          66.400000
4          20.750000
             ...
199995    110.666667
199996     41.500000
199997     10.709677
199998     23.714286
199999     23.714286
Name: fare_amount, Length: 199999, dtype: float64, 8666.0: 0         11.500000
1         11.500000
2          7.076923
3         18.400000
4          5.750000
            ...
199995    30.666667
199996    11.500000
199997     2.967742
199998     6.571429
199999     6.571429
Name: fare_amount, Length: 199999, dtype: float64, 22.0: 0          50.875000
1          50.875000
2          31.307692
3          81.400000
4          25.437500
             ...
199995    135.666667
199996     50.875000
199997     13.129032
199998     29.071429
199999     29.071429
Name: fare_amount, Length: 199999, dtype: float64, 15.0: 0          55.375000
1          55.375000
2          34.076923
3          88.600000
4          27.687500
             ...
199995    147.666667
199996     55.375000
199997     14.290323
199998     31.642857
199999     31.642857
Name: fare_amount, Length: 199999, dtype: float64, 21.0: 0         127.750000
1         127.750000
2          78.615385
3         204.400000
4          63.875000
             ...
199995    340.666667
199996    127.750000
199997     32.967742
199998     73.000000
199999     73.000000
Name: fare_amount, Length: 199999, dtype: float64, 33.0: 0         0.750000
1         0.750000
2         0.461538
3         1.200000
4         0.375000
            ...
199995    2.000000
199996    0.750000
199997    0.193548
199998    0.428571
199999    0.428571
Name: fare_amount, Length: 199999, dtype: float64, 8647.0: 0         0.625000
1         0.625000
2         0.384615
3         1.000000
4         0.312500
            ...
199995    1.666667
199996    0.625000
199997    0.161290
199998    0.357143
199999    0.357143
Name: fare_amount, Length: 199999, dtype: float64, 8667.0: 0          8.625000
1          8.625000
2          5.307692
3         13.800000
4          4.312500
            ...
199995    23.000000
199996     8.625000
199997     2.225806
199998     4.928571
199999     4.928571
Name: fare_amount, Length: 199999, dtype: float64, 23.0: 0         21.375000
1         21.375000
2         13.153846
3         34.200000
4         10.687500
            ...
199995    57.000000
199996    21.375000
199997     5.516129
199998    12.214286
199999    12.214286
Name: fare_amount, Length: 199999, dtype: float64, 6021.0: 0         0.250000
1         0.250000
2         0.153846
3         0.400000
4         0.125000
            ...
199995    0.666667
199996    0.250000
199997    0.064516
199998    0.142857
199999    0.142857
Name: fare_amount, Length: 199999, dtype: float64, 5941.0: 0         0.250000
1         0.250000
2         0.153846
3         0.400000
4         0.125000
            ...
199995    0.666667
199996    0.250000
199997    0.064516
199998    0.142857
199999    0.142857
Name: fare_amount, Length: 199999, dtype: float64, 8665.0: 0          8.500000
1          8.500000
2          5.230769
3         13.600000
4          4.250000
            ...
199995    22.666667
199996     8.500000
199997     2.193548
199998     4.857143
199999     4.857143
Name: fare_amount, Length: 199999, dtype: float64, 8654.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 6032.0: 0         0.500000
1         0.500000
2         0.307692
3         0.800000
4         0.250000
            ...
199995    1.333333
199996    0.500000
199997    0.129032
199998    0.285714
199999    0.285714
Name: fare_amount, Length: 199999, dtype: float64, 4530.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 8648.0: 0         1.000000
1         1.000000
2         0.615385
3         1.600000
4         0.500000
            ...
199995    2.666667
199996    1.000000
199997    0.258065
199998    0.571429
199999    0.571429
Name: fare_amount, Length: 199999, dtype: float64, 3829.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 8664.0: 0          4.375000
1          4.375000
2          2.692308
3          7.000000
4          2.187500
            ...
199995    11.666667
199996     4.375000
199997     1.129032
199998     2.500000
199999     2.500000
Name: fare_amount, Length: 199999, dtype: float64, 25.0: 0         2.500000
1         2.500000
2         1.538462
3         4.000000
4         1.250000
            ...
199995    6.666667
199996    2.500000
199997    0.645161
199998    1.428571
199999    1.428571
Name: fare_amount, Length: 199999, dtype: float64, 5886.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 8661.0: 0         0.625000
1         0.625000
2         0.384615
3         1.000000
4         0.312500
            ...
199995    1.666667
199996    0.625000
199997    0.161290
199998    0.357143
199999    0.357143
Name: fare_amount, Length: 199999, dtype: float64, 26.0: 0         3.250000
1         3.250000
2         2.000000
3         5.200000
4         1.625000
            ...
199995    8.666667
199996    3.250000
199997    0.838710
199998    1.857143
199999    1.857143
Name: fare_amount, Length: 199999, dtype: float64, 8656.0: 0         0.625000
1         0.625000
2         0.384615
3         1.000000
4         0.312500
            ...
199995    1.666667
199996    0.625000
199997    0.161290
199998    0.357143
199999    0.357143
Name: fare_amount, Length: 199999, dtype: float64, 49.0: 0         0.250000
1         0.250000
2         0.153846
3         0.400000
4         0.125000
            ...
199995    0.666667
199996    0.250000
199997    0.064516
199998    0.142857
199999    0.142857
Name: fare_amount, Length: 199999, dtype: float64, 31.0: 0         1.125000
1         1.125000
2         0.692308
3         1.800000
4         0.562500
            ...
199995    3.000000
199996    1.125000
199997    0.290323
199998    0.642857
199999    0.642857
Name: fare_amount, Length: 199999, dtype: float64, 29.0: 0         1.125000
1         1.125000
2         0.692308
3         1.800000
4         0.562500
            ...
199995    3.000000
199996    1.125000
199997    0.290323
199998    0.642857
199999    0.642857
Name: fare_amount, Length: 199999, dtype: float64, 24.0: 0          5.750000
1          5.750000
2          3.538462
3          9.200000
4          2.875000
            ...
199995    15.333333
199996     5.750000
199997     1.483871
199998     3.285714
199999     3.285714
Name: fare_amount, Length: 199999, dtype: float64, 8675.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 6029.0: 0         0.375000
1         0.375000
2         0.230769
3         0.600000
4         0.187500
            ...
199995    1.000000
199996    0.375000
199997    0.096774
199998    0.214286
199999    0.214286
Name: fare_amount, Length: 199999, dtype: float64, 8668.0: 0         1.500000
1         1.500000
2         0.923077
3         2.400000
4         0.750000
            ...
199995    4.000000
199996    1.500000
199997    0.387097
199998    0.857143
199999    0.857143
Name: fare_amount, Length: 199999, dtype: float64, 8594.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 32.0: 0         0.750000
1         0.750000
2         0.461538
3         1.200000
4         0.375000
            ...
199995    2.000000
199996    0.750000
199997    0.193548
199998    0.428571
199999    0.428571
Name: fare_amount, Length: 199999, dtype: float64, 28.0: 0         1.000000
1         1.000000
2         0.615385
3         1.600000
4         0.500000
            ...
199995    2.666667
199996    1.000000
199997    0.258065
199998    0.571429
199999    0.571429
Name: fare_amount, Length: 199999, dtype: float64, 5651.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 8663.0: 0         1.875000
1         1.875000
2         1.153846
3         3.000000
4         0.937500
            ...
199995    5.000000
199996    1.875000
199997    0.483871
199998    1.071429
199999    1.071429
Name: fare_amount, Length: 199999, dtype: float64, 8670.0: 0         0.625000
1         0.625000
2         0.384615
3         1.000000
4         0.312500
            ...
199995    1.666667
199996    0.625000
199997    0.161290
199998    0.357143
199999    0.357143
Name: fare_amount, Length: 199999, dtype: float64, 61.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 8671.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 127.0: 0         0.375000
1         0.375000
2         0.230769
3         0.600000
4         0.187500
            ...
199995    1.000000
199996    0.375000
199997    0.096774
199998    0.214286
199999    0.214286
Name: fare_amount, Length: 199999, dtype: float64, 4445.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 102.0: 0         0.125000
1         0.125000
2         0.076923
3         0.200000
4         0.062500
            ...
199995    0.333333
199996    0.125000
199997    0.032258
199998    0.071429
199999    0.071429
Name: fare_amount, Length: 199999, dtype: float64, 125.0: 0         0.625000
1         0.625000
2         0.384615
3         1.000000
4         0.312500

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
199995   NaN
199996   NaN
199997   NaN
199998   NaN
199999   NaN
Name: fare_amount, Length: 199999, dtype: float64